<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palladio Hotel Buenos Aires MGallery | Galería</title>
    <meta name="description" content="Disfrute de una estadía memorable en Palladio Hotel. Ubicado en el tradicional Barrio de Recoleta, cerca de las principales atracciones turísticas, es el lugar perfecto para viajes de trabajo o placer.">
    <meta name="keywords" content="hotel en Buenos Aires, Hoteles Argentina, Hotel Argentina, hotel Recoleta, Mgallery, accor, hotel, recoleta, Palladio Hotel,  Palladio, Negresco Bar,  Negresco,  Negresco Bistro, habitaciones y suites, gastronomia, reuniones">
    <link rel="shortcut icon" href="../img/logo_pestaña.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
</head>
<body class="home page ">
    
    <div id="header_wrapper" class="hidden_book_now">
        <div id="top_bar">
            <div class="col col_left">
                <a id="skip_to_content" class="hidden-xs" href="#saltar-al-contenido">
                    <span class="icon"></span>
                    <span class="label">Saltar al contenido</span>
                </a>
            </div>
            <a id="hotel_name" class=" hidden-xs hidden-sm" href="../../index.html">  
                <span>Palladio Hotel Buenos Aires MGallery</span>
            </a>
            <div class="col col_right">
                <a id="lang_selector" href="">
                    <span class="label">Español</span>
                    <span class="icon"></span>
                </a>
            </div>
        </div>
        <nav class="nav">
                <div id="header">
                    <div class="container nav_container">
                        <label for="menu_hamb" class="lavel_menu_open">
                            <i class="fa-solid fa-bars icon  nav_i" style="padding: 30px; color: #000; "></i>
                        </label>
                        <input type="checkbox" id="menu_hamb" class="nav_input">
                        <div id="menu_sidebar_wrap" class="visible" >
                            <div class="menu_sidebar">
                                <label for="close_menu" >
                                </label>
                                <input type="checkbox" id="close_menu" class="nav_input_close">
                                <a href="" class="close_sidebar close" title="Close main menu"></a>
                                <div class="menu_sidebar_inner_content">
                                    <div class="title">Palladio Hotel Buenos Aires MGallery</div>
                                    <div id="sidebar_menu">
                                        <ul id="menu-hamburger-menu-2" class="menu">
                                            <li class="menu-item current-menu-item">
                                                <a href="../../index.html" aria-current="page">Inicio</a>
                                            </li>
                                            <li class="menu-item current-menu-item">
                                                <a href="./habitaciones.html">Habitaciones</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/habitacion-superior-con-cama-king-size.html">Habitación Superior con cama king size</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/habitacion-deluxe-con-cama-king-size-y-balcon-privado.html">Habitación Deluxe con cama king size y balcón privado</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/executive-room-con-cama-king-size-balcon-privado-y-sofa-cama.html">Executive Room con cama king size, balcón privado y sofá cama</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/executive-room-con-2-camas-queen-size-y-balcon-privado.html">Executive Room con 2 camas queen size y balcón privado</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/deluxe-suite-con-cama-king-size-balcon-privado-y-sofa-cama.html">Deluxe Suite con cama king size, balcón privado y sofá cama</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/deluxe-suite-con-2-camas-queen-size-y-balcon-privado.html">Deluxe Suite con 2 camas queen size y balcón privado</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/habitaciones/executive-suite-con-cama-king-size-y-exclusiva-vista-de-la-ciudad.html">Executive Suite con cama king size y exclusiva vista de la ciudad</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item current-menu-item">
                                                <a href="./gastronomia.html">Gastronomía</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/gastronomia/negresco_bistro.html">Negresco Bistró</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/gastronomia/negresco_bar.html">Negresco Bar</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/gastronomia/terraza.html">La Terraza</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item current-menu-item">
                                                <a href="./galeria.html">Galería de fotos</a>
                                            </li> 
                                            <li class="menu-item current-menu-item">
                                                <a href="./reuniones.html">Reuniones</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/reuniones/rodriguez_peña.html">Rodríguez Peña</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/reuniones/pizzurno.html">Pizzurno</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/reuniones/boardroom_1.html">Boardroom 1</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./views/reuniones/boardroom_2.html">Boardroom 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>    
                                    </div>
                                    <div class="address">
                                        <span class="element element_address">
                                            <span class="element_data">Avenida Callao 924
                                                Recoleta - C1023AAP
                                                Buenos Aires
                                                Argentina
                                            </span>
                                        </span>
                                        <span class="element element_telephone">
                                            <span class="element_pref">Teléfono</span>
                                            <span class="element_data">+54 11 4700 7500</span>
                                        </span>
                                        <span class="element element_email">
                                            <span class="element_pref">Email</span>
                                            <span class="element_data">
                                                <a href="mailto:recepcion.palladio@accor.com">recepcion.palladio@accor.com</a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col col_left nav_menu">
                                <div class="menu_left hidden-xs hidden-sm">
                                    <ul class="menu">
                                        <li  class="menu-item ">
                                            <a href="habitaciones.html" class="nav_item">Habitaciones</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item ">
                                                    <a href="./habitaciones/habitacion-superior-con-cama-king-size.html">Habitación Superior con cama King size</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="./habitaciones/habitacion-deluxe-con-cama-king-size-y-balcon-privado.html">Habitación Deluxe con cama king size y balcón privado</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="./habitaciones/executive-room-con-cama-king-size-balcon-privado-y-sofa-cama.html">Executive Room con cama king size, balcón privado y sofá cama</a>
                                                </li>
                                                <li class="menu-item   ">
                                                    <a href="./habitaciones/executive-room-con-2-camas-queen-size-y-balcon-privado.html">Executive Room con 2 camas queen size y balcón privado</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="./habitaciones/deluxe-suite-con-cama-king-size-balcon-privado-y-sofa-cama.html">Deluxe Suite con cama king size, balcón privado y sofá cama</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="./habitaciones/deluxe-suite-con-2-camas-queen-size-y-balcon-privado.html">Deluxe Suite con 2 camas queen size y balcón privado</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="./habitaciones/executive-suite-con-cama-king-size-y-exclusiva-vista-de-la-ciudad.html">Executive Suite con cama king size y exclusiva vista de la ciudad</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item ">
                                            <a href="gastronomia.html" class="nav_item">Gastronomía</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item ">
                                                    <a href="./gastronomia/negresco_bistro.html">Negresco Bistró</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="./gastronomia/negresco_bar.html">Negresco Bar</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="./gastronomia/terraza.html">La Terrazza</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>                
                                </div>
                            </div>
                            <a id="logo" href="../../index.html" title="Volver a la página de inicio">
                                <img src="../img/Logo MGallery Hotel Collection.svg" alt="Alternative MGallery logo" class="main">
                            </a>
                            <div class="col col_right hidden-xs hidden-sm nav_menu ">
                                <div class="menu_right">
                                    <ul id="menu-hamburger-menu-1" class="menu">
                                        <li class="menu-item ">
                                            <a href="galeria.html" class="nav_item">Galería</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="reuniones.html" class="nav_item">Reuniones</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="./reuniones/rodriguez_peña.html">Rodríguez Peña</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="./reuniones/pizzurno.html">Pizzurno</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="./reuniones/boardroom_1.html">Boardroom 1</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="./reuniones/boardroom_2.html">Boardroom 2</a>
                                                </li>
                                            </ul>
                                        </li>                            
                                    </ul>                
                                </div>
                                <div id="main_book" >
                                    <a href="./reserva.html"   title="Reservar una habitación" class="nav_item">Reservar ahora</a>
                                </div>
                            </div>
                            <a id="hotel_name_mobile" class="hidden-md hidden-lg" href="../../index.html" title="Volver a la página de inicio"><span>Palladio Hotel Buenos Aires MGallery</span></a>
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="mini_menu" class="hidden-xs">
        <div class="container">
            <div class="mini_menu_menu ">
                <ul  class="mini_menu_lista ">
                    <li class="mini_menu_lista_item ">
                        <a href="../../index.html">
                            <span ">Home</span>
                        </a>
                    </li>
                    <li class="mini_menu_lista_item mini_menu_secciones">
                        
                        <a href="galeria.html">
                            <span>Galería</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <main id="main-content-1 #saltar-al-contenido" role="main" class="main_content section  ">
        <div class="container">
            <h1 class="the_title" style="color: #000;text-decoration: none!important; cursor: default;">Galería de fotos</h1>
            <div class="below_the_title">
            </div>
            <div class="the_content main_the_content">
            </div>        
        </div>
        <div class="filters_wrap">
            <span class="label hidden-xs">Filtrar por</span>
            <div class="filters_select">
                <select autocomplete="off">
                    <option value="" selected="">Todas las fotos</option>
                    <option value=".filter_cat_0">Lobby</option>
                    <option value=".filter_cat_1">Habitaciones y Suites</option>
                    <option value=".filter_cat_2">Bistró &amp; Bar</option>
                    <option value=".filter_cat_3">La Terraza</option>
                    <option value=".filter_cat_4">Reuniones</option>
                    <option value=".filter_cat_5">Bienestar y SPA</option>
                </select>
            </div>
        </div>  
        <div class="grid-container-galeria">
            <div class="grid-foto">                
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Lobby.</strong> " href="https://www.ahstatic.com/photos/b1r7_ho_02_p_1024x768.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_lobby_gallery_01.jpg" data-ll-status="loaded" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_lobby_gallery_01.jpg);">
                </a>                        
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Lobby.</strong> " href="https://www.ahstatic.com/photos/b1r7_sl_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sl_00_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sl_00_p_1024x768.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Lobby.</strong> " href="../img/Galeria de fotos/Lobby/Lobby3.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_lobby_gallery_03.jpg" data-ll-status="loaded" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_lobby_gallery_03.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Lobby.</strong> " href="https://www.ahstatic.com/photos/b1r7_ho_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ho_02_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ho_02_p_1024x768.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered exited loaded"  data-caption="<strong>Lobby.</strong> " href="../img/Galeria de fotos/Lobby/Lobby4.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_lobby_gallery_04.jpg" data-ll-status="loaded" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_lobby_gallery_04.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered exited loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_ro_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ro_00_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ro_00_p_1024x768.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered exited loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_ro_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ro_01_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ro_01_p_1024x768.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered exited loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="../img/Galeria de fotos/HabsySuits/Hab21.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_executive_suite_gallery_07.jpg" data-ll-status="loaded" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_executive_suite_gallery_07.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered exited loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="../img/Galeria de fotos/HabsySuits/Hab3.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_rooms_deluxe_gallery_06.jpg" data-ll-status="loaded" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_rooms_deluxe_gallery_06.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_ro_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ro_02_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ro_02_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_ro_03_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ro_03_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_su_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_su_00_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_su_00_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_su_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_su_02_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_su_02_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_su_03_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_su_03_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_su_03_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_su_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_su_01_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_su_01_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Habitaciones y Suites.</strong> " href="https://www.ahstatic.com/photos/b1r7_su_05_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_su_05_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_su_05_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Bistró ; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_rs_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_rs_00_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_rs_00_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_rs_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_rs_02_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_rs_02_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_rs_03_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_rs_03_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_rs_03_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered exited loaded"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="../img/Galeria de fotos/Baryresto/bar5.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_restaurant_negresco_bristot_gallery_07-1.jpg" data-ll-status="loaded" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_restaurant_negresco_bristot_gallery_07-1.jpg);">
                </a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_rs_05_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_rs_05_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_rs_05_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_ba_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ba_00_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ba_00_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy entered loaded"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_ba_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ba_01_p_1024x768.jpg" data-ll-status="loaded" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ba_01_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_ba_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ba_02_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ba_02_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_ba_03_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ba_03_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ba_03_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bistró &amp; Bar.</strong> " href="https://www.ahstatic.com/photos/b1r7_ba_04_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ba_04_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ba_04_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>La Terraza.</strong> " href="../img/Galeria de fotos/Terraza/terra1.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_restaurant_terrazza_gallery_05-1.jpg" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_restaurant_terrazza_gallery_05-1.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>La Terraza.</strong> " href="../img/Galeria de fotos/Terraza/terra2.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_restaurant_terrazza_gallery_02-1.jpg" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_restaurant_terrazza_gallery_02-1.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Reuniones.</strong> " href="https://www.ahstatic.com/photos/b1r7_sm_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sm_01_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sm_01_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Reuniones.</strong> " href="https://www.ahstatic.com/photos/b1r7_sm_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sm_02_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sm_02_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Reuniones.</strong> " href="https://www.ahstatic.com/photos/b1r7_sm_03_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sm_03_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sm_03_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_ho_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_ho_00_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_ho_00_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_sp_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sp_00_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sp_00_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_sp_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sp_01_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sp_01_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_fi_00_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_fi_00_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_fi_00_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_fi_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_fi_01_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_fi_01_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="../img/Galeria de fotos/Spa y Gym/gym2.jpg" data-bg="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_spa_gallery_02.jpg" style="background-image: url(https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/uploads/sites/7/2021/12/palladio_hotel_mgallery_spa_gallery_02.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="../img/Galeria de fotos/Spa y Gym/gym9.jpg" style="background-image: url(../img/Galeria\ de\ fotos/Spa\ y\ Gym\/gym9\.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_sw_01_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sw_01_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sw_01_p_1024x768.jpg);"></a>
            </div>
            <div class="grid-foto">
                <a class="fancy thumb lazy"  data-caption="<strong>Bienestar y SPA.</strong> " href="https://www.ahstatic.com/photos/b1r7_sw_02_p_1024x768.jpg" data-bg="https://www.ahstatic.com/photos/b1r7_sw_02_p_1024x768.jpg" style="background-image: url(https://www.ahstatic.com/photos/b1r7_sw_02_p_1024x768.jpg);"></a>
            </div>
        </div>
    </main>






    <!-- FOOTER -->

    <footer>
        <div id="loyalty">
            <div class="container">
                
                <div class="content">
                    <div class="title">Palladio Hotel Buenos Aires - MGallery ☆☆☆☆☆</div>
                    <div class="description">
                        <h6>Av. Callao 924 - C1023AAP</h6>
                        <h6>C.A.B.A. - Buenos Aires - Argentina</h6>
                        <h6>Teléfono: +54 (11) 4700 7500</h6>
                        <h6>WhatsApp: <a class="mail" href="https://wa.me/5491169688405">+54 (911) 6968 8405</a> </h6>
                        <h6>Email: 
                            <a class="mail" href="mailto:reservas.palladio@accor.com">reservas.palladio@accor.com</a>
                        </h6>
                    </div>
                </div>
                <br>
                <div class="title">Siga nuestro hotel en:</div>
                <div class="social">
                    <a href="https://www.facebook.com/PalladioHotelBA/" title="Abrir el Facebook de este Hotel" class="facebook" target="_blank">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="https://www.instagram.com/palladiohotelba/" title="Abrir el Instagram de este hotel" class="instagram" target="_blank">
                        <span class="fab fa-instagram"></span>
                    </a>
                    <a href="https://wa.me/5491169688405" title="Abrir el Whatsapp de este  hotel" class="whatsapp" target="_blank">
                        <span class="fab fa-whatsapp"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    

    <div id="mobile_bar" class="hidden-md hidden-lg">
        <div id="mobile_book_now">
            <a href="./reserva.html">Reservar ahora</a>
        </div>
    </div>
</body>
</html>