<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzurno</title>
    <link rel="stylesheet" href="../../css/posta.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
</head>
<body>
    <div id="header_wrapper" class="hidden_book_now">
        <div id="top_bar">
            <div class="col col_left">
                <a id="skip_to_content" class="hidden-xs" href="">
                    <span class="icon"></span>
                    <span class="label">Saltar al contenido</span>
                </a>
            </div>
            <a id="hotel_name" class=" hidden-xs hidden-sm" href="../../../index.html">  
                <span>Palladio Hotel Buenos Aires MGallery</span>
            </a>
            <div class="col col_right">
                <a id="lang_selector" href="">
                    <span class="label">Español</span>
                    <span class="icon"></span>
                </a>
            </div>
        </div>
        <div id="header">
            <div class="container">
                <div class="col col_left ">
                    <a href=""><i class="fa-solid fa-bars icon open_menu" style="padding-left: 30px;"></i></a>
                        
                    </a>
                    <div class="menu_left hidden-xs hidden-sm">
                        <ul id="menu-hamburger-menu" class="menu">
                            <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-39">
                                <a href="../habitaciones.html">Habitaciones</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40">
                                        <a href="../habitaciones/habitacion-superior-con-cama-king-size.html">Habitación Superior con cama King size</a>
                                    </li>
                                    <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
                                        <a href="../habitaciones/habitacion-deluxe-con-cama-king-size-y-balcon-privado.html">Habitación Deluxe con cama king size y balcón privado</a>
                                    </li>
                                    <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
                                        <a href="../habitaciones/executive-room-con-cama-king-size-balcon-privado-y-sofa-cama.html">Executive Room con cama king size, balcón privado y sofá cama</a>
                                    </li>
                                    <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">
                                        <a href="../habitaciones/executive-room-con-2-camas-queen-size-y-balcon-privado.html">Executive Room con 2 camas queen size y balcón privado</a>
                                    </li>
                                    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
                                        <a href="../habitaciones/deluxe-suite-con-cama-king-size-balcon-privado-y-sofa-cama.html">Deluxe Suite con cama king size, balcón privado y sofá cama</a>
                                    </li>
                                    <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
                                        <a href="../habitaciones/deluxe-suite-con-2-camas-queen-size-y-balcon-privado.html">Deluxe Suite con 2 camas queen size y balcón privado</a>
                                    </li>
                                    <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                                        <a href="../habitaciones/executive-suite-con-cama-king-size-y-exclusiva-vista-de-la-ciudad.html">Executive Suite con cama king size y exclusiva vista de la ciudad</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-47">
                                <a href="../gastronomia.html">Gastronomía</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48">
                                        <a href="../gastronomia/negresco_bistro.html">Negresco Bistró</a>
                                    </li>
                                    <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
                                        <a href="../gastronomia/negresco_bar.html">Negresco Bar</a>
                                    </li>
                                    <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
                                        <a href="../gastronomia/terraza.html">La Terrazza</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>                
                    </div>
                </div>
                <a id="logo" href="../../../index.html" title="Volver a la página de inicio">
                    <img src="../../img/Logo MGallery Hotel Collection.svg" alt="Alternative MGallery logo" class="main">
                    <img src="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/themes/accorv2-mgallery/images/logo_white.svg" alt="Alternative MGallery logo" class="custom">
                </a>
                <div class="col col_right hidden-xs hidden-sm">
                    <div class="menu_right">
                        <ul id="menu-hamburger-menu-1" class="menu">
                            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                                <a href="../galeria.html">Galería</a>
                            </li>
                            <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55">
                                <a href="../reuniones.html">Reuniones</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56">
                                        <a href="../reuniones/rodriguez_peña.html">Rodríguez Peña</a>
                                    </li>
                                    <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                                        <a href="../reuniones/pizzurno.html">Pizzurno</a>
                                    </li>
                                    <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">
                                        <a href="../reuniones/boardroom_1.html">Boardroom 1</a>
                                    </li>
                                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
                                        <a href="../reuniones/boardroom_2.html">Boardroom 2</a>
                                    </li>
                                </ul>
                            </li>                            
                        </ul>                
                    </div>
                </div>
                <a id="hotel_name_mobile" class="hidden-md hidden-lg" href="../../../index.html" title="Volver a la página de inicio"><span>Palladio Hotel Buenos Aires MGallery</span></a>
            </div>
        </div>
    </div>
    <footer style="text-align: center;">
        <h4><img src="../../img/Logo Palladio Hotel.png" alt="Palladio Hotel Buenos Aires" style="max-width: 180px;padding: 20px 20px;padding-bottom: 30px;max-height: 180px;height: auto;width: auto;vertical-align: middle;"></h4>


        <h5>Palladio Hotel Buenos Aires - MGallery ☆☆☆☆☆</h5>
        <h6>Av. Callao 924 - C1023AAP</h6>
        <h6>C.A.B.A. - Buenos Aires - Argentina</h6>
        <h6>Tel.: +54 (11) 4700 7500</h6>
        <h6>WhatsApp: +54 (911) 6968 8405</h6>
        <h6>Email: reservas.palladio@accor.com</h6>



        <h5><a href="https://all.accor.com/hotel/B1R7/index.es.shtml">Reservar Ahora</a></h5>
    </footer>
</body>
</html>