#mini_menu {
    color: $font_color;
    margin: 1em auto 1.5em;
    position: relative;
    text-align: left;
    font-size: .9em;
    z-index: 100;
    ul {
        display: flex;
        list-style: none inside none;
        li{
            display: inline-block;
            display: flex;
            line-height: 150%;
            a {
                display: inline-block;
                color: inherit;
                text-decoration: none;
                transition: all 0.3s ease;
            }
        }
        li:before {
            content: '-';
            display: inline-block!important;
            margin: 0 0.7em;
            opacity: .5;
            filter: Alpha(opacity=50);
        }
    }
    ul, li{
        list-style: none inside none;
    }
}
.mini_menu_secciones{
    color: $main_color;
    text-transform: uppercase;
}
.the_title{
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    font-family: $first_font;
    line-height: 120%;
    position: relative;
    letter-spacing: 0.05em;
    color: $title_color;
    font-size: 32px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 0.5em;
    display: block;
    &:hover{
        text-decoration: underline;
        color: $hover_color;
    }
}
.fotito{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
.home .main_content {
    margin-top: 40px;
    padding-top: 0;
    .section+.section {
        padding-top: 80px;
    }
    &.aside_content {
        width: calc(100% - 40px);
        @include marginbasic;
        max-width: 1700px;
    }
    .the_title {
        max-width: 1000px;
        @include marginbasic;
    }
}
.section {
    position: relative;
    z-index: 100;
    width: calc(100% - 60px);
    @include marginbasic;
}
.main_content.aside_content .container {
    max-width: 100%;
    display: flex;
    .aside {
        width: 45%;
        background: $alternative_background;
        position: relative;
        margin-bottom: 40px;
        min-height: 450px;
        .thumb {
            @include basicwh;
            right: 0;
            left: 40px;
            bottom: 0;
            top: 40px;
            position: absolute;
            display: block;
            text-decoration: none;
            background-attachment: scroll;
            background-size: cover;
            background-color: #F8F8F8;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .content_wrap {
        background: $alternative_background;
        width: 55%;
        padding: 40px;
        display: flex;
        align-items: center;
    }
}
.main_content.aside_content .container .aside {
    width: 100%;
    padding: 0 40px;
    min-height: unset;
    margin-bottom: 0;
}

.main_content.aside_content .container .content_wrap {
    width: 100%;
}

.section_title, .the_title {
    font-weight: 600;
    font-style: normal;
    font-family: $first_font;
    line-height: 120%;
    position: relative;
    letter-spacing: .05em;
    color: $title_color;
    font-size: 38px;
    text-align: center;
    margin-bottom: .5em;
}
.the_content{
    blockquote {
        font-family: $second_font;
        line-height: 160%;
        color: $content_blockquote_bolor;
        font-style: italic;
        font-size: 1.1em;
        display: flex;
        border-color: $content_blockquote_dl_border;
        &+p {
            margin-top: 1em;
        }
        p+p {
            margin-top: 1em;
        }
        &:before {
            content: '\201C';
            padding-right: 5px;
            font-size: 1.3em;
        }
        &:after {
            content: '\201D';
            padding-left: 5px;
            align-self: flex-end;
            font-size: 1.3em;
        }
    }
    strong {
        color: $content_strong;
        font-weight: 700;
        letter-spacing: 0;
    }
}

.the_subtitle {
    font-style: normal;
    font-weight: 400;
    font-family: $first_font;
    line-height: 150%;
    position: relative;
    color: $title_color;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1.5em;
}
.main_content, .section+.section {
    padding-top: 80px;
}
.section {
    position: relative;
    z-index: 100;
    width: calc(100% - 60px);
    @include marginbasic;
    &.main_content .custom_logo {
        margin: 0 auto 2em;
        text-align: center;
        img {
            max-width: 180px;
            max-height: 180px;
            @include basicwh;
        }
    }

}

.filters_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include marginbasic;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-bottom: 40px;
    .label {
        display: inline-block;
        margin-right: 40px;
    }
    .filters_select {
        height: 50px;
        min-width: 300px;
        position: relative;
        select {
            appearance: none;
            border: none;
            border-radius: 0;
            flex-grow: 1;
            background: 0 0;
            color: $font_color;
            font-family: $first_font;
            font-size: inherit;
            position: relative;
            z-index: 100;
            line-height: 50px;
            width: 100%;
            border: 1px solid $content_hr;
            padding: 0 20px;
            option {
                background: $body_background;
            }
            &:after {
                top: 0;
                right: 15px;
                content: '\025BE';
                position: absolute;
                z-index: 1;
                line-height: 50px;
                color: $font_color;
            }
        }
    }
}






@media (min-width: 1400px){
    #mini_menu {
        padding: 0;
        margin-bottom: 2.5em;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .main_content.aside_content .container .content_wrap .inner_wrap .the_title {
        font-size: 28px;
    }
}
@media (min-width: 992px){
    .description, .the_content {
        font-size: 1.08em;
    }
    
}
@media (max-width: 991px){
    .main_content.aside_content .container {
        flex-direction: column-reverse;
    }
    .thumb {
        width: 100%!important;
        position: relative!important;
        height: 0!important;
        padding-bottom: 60%!important;
        top: auto!important;
        left: auto!important;
        bottom: auto!important;
        margin-bottom: 40px!important;
    }
}
@media (min-width: 768px){
    .main_content.section+.section.filters_wrap {
        margin-top: -40px;
    }
}
@media (min-width: 1200px){
    .filters_wrap {
        max-width: 1160px;
    }
    .section {
        width: calc(100% - 80px);
    }
    .section_title, .the_title {
        font-size: 42px;
    }
    #mini_menu {
        padding: 0 30px;
        margin-bottom: 2em;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .thumb_wrap {
        width: 50%;
    }
    .filters_wrap {
        max-width: 740px;
    }
    .elements_wrapper {
        max-width: 740px;
    }
}
@media (max-width: 767px){
    .filters_wrap {
        flex-direction: column;
        width: 100%;
        @include marginbasic;
        padding-right: 10px;
        padding-left: 10px;
        .label {
            width: 100%;
            margin-bottom: .5em;
            margin-right: 0;
        }
        .filters_select {
            width: 100%;
        }
    }
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_title, .the_title {
        font-size: 28px;
    }
    .main_content, .section+.section {
        padding-top: 40px;
    }
    .thumb_wrap {
        width: 100%;
    }
    .elements_wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main_content.aside_content {
        width: calc(100% - 10px);
        margin-top: 5px;
        padding-top: 0;
    }
    .main_content.aside_content .container {
        padding-left: 0;
        padding-right: 0;
    }
    .main_content.aside_content .container .aside .thumb {
        margin-bottom: 0;
    }
    .main_content.aside_content .container .content_wrap {
        padding: 20px;
    }
    .section.main_content .custom_logo img {
        max-height: 100px;
    }
    .section_title, .the_title {
        font-size: 28px;
    }    
    .main_content.aside_content .container .aside .thumb {
        margin-bottom: 0;
    }
    .main_content.aside_content .container .aside {
        padding: 0;
    }
}







/*Secciones*/
.main_content, .section+.section {
    padding-top: 80px;
}
.section {
    position: relative;
    z-index: 100;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}
.section.room_features .features_services {
    background: rgba(245,243,238, .5);
    padding: 60px 40px;
    .features{
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .item {
                width: 25%;
                padding: 0 10px;
                margin: 20px 0;
                text-align: center;
                line-height: 170%;
                border-width: 0 0 0 1px;
                border-style: solid;
                border-color: $alternative_background2_darken_5;
                img {
                    font-size: 42px;
                    color: $font_color_lighten;
                    margin-bottom: 10px;
                }
                .el_title {
                    font-weight: bold;
                    color: $title_color;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .services {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        .the_title {
            margin-bottom: 1.5em;
        }
        .list {
            line-height: 170%;
            li, ul {
                list-style: none inside none;
            }
            ul li {
                margin: 10px 0;
                position: relative;
                padding-left: 20px;
                &:before {
                    content: "-";
                    position: absolute;
                    left: 0;
                }
            }
            &.col_two {
                column-count: 2;
                column-gap: 60px;
                column-rule: 1px solid $alternative_background2_darken_5;
            }
            &.col_three {
                column-gap: 60px;
                column-rule: 1px solid $alternative_background2_darken_5;
            }
        }
    }
    .features+.services {
        margin-top: 40px;
    }
    .the_title {
        font-weight: 600;
        font-style: normal;
        font-family: $first_font;
        line-height: 120%;
        position: relative;
        letter-spacing: .05em;
        color: $title_color;
        font-size: 28px;
        text-align: center;
        margin-bottom: 1em;
    }
}




















@media (min-width: 768px) and (max-width: 991px){
    .section_title, .the_title {
        font-size: 32px;
    }
    .container {
        max-width: 740px;
    }
}
@media (min-width: 768px){
    .section.room_features .features_services .features .list .item:nth-child(4n+1) {
        border: none;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .features .list .item:first-child {
        border-top: none;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .features .list .item {
        width: 90%;
        padding: 15px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: left;
        border-width: 1px 0 0;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .features .list {
        flex-direction: column;
    }
    .section.room_features .features_services .features .list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services {
        padding: 40px 20px;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .the_title {
        font-size: 24px;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .features .list .item img {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .services .the_title {
        margin-bottom: 1em;
    }
}
@media (max-width: 767px){
    .section.room_features .features_services .services .list.col_two {
        column-count: 1;
    }
}






