@charset "UTF-8";
/* IMPORT */
/* MISC */
.fotito {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

/* GLOBALS*/
a, article, aside, blockquote, body, div, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, nav, object, ol, p, section, span, strong, ul {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

a {
  cursor: pointer; }

body, html {
  height: 100%; }

article, aside, footer, header, menu, section {
  display: block; }

strong {
  font-weight: 700; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle; }

li {
  display: list-item; }

main {
  display: block; }

select {
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  background-color: white;
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  border-image: initial; }

select:not(:internal-list-box) {
  overflow: visible !important; }

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px; }

body, html {
  line-height: 200%;
  font-size: 17px;
  font-family: "futura-pt", sans-serif;
  background: #fff;
  color: #333;
  height: auto; }

body a:focus, html a:focus {
  outline: 0;
  text-decoration: inherit; }

body ::selection, html ::selection {
  background: #B9854D;
  color: #000;
  text-shadow: none; }

body *, html * {
  box-sizing: border-box; }

html {
  background: #fff; }

/* RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* PARTIALS */
#header_wrapper {
  height: 160px;
  position: relative;
  z-index: 999;
  color: #0A1317; }
  #header_wrapper #top_bar {
    position: relative;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #ece8de;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center; }
    #header_wrapper #top_bar .col.col_left {
      width: 25%;
      display: flex;
      align-items: center; }
      #header_wrapper #top_bar .col.col_left #skip_to_content {
        display: block;
        color: #0A1317;
        text-decoration: none;
        line-height: 130%; }
        #header_wrapper #top_bar .col.col_left #skip_to_content:hover .label {
          text-decoration: underline; }
        #header_wrapper #top_bar .col.col_left #skip_to_content span.icon {
          content: '\27f6';
          margin-right: 10px; }
          #header_wrapper #top_bar .col.col_left #skip_to_content span.icon:before {
            content: '\27f6';
            margin-right: 10px; }
    #header_wrapper #top_bar #hotel_name {
      width: 50%;
      text-align: center;
      font-size: 18px;
      font-family: "futura-pt", sans-serif;
      text-transform: uppercase;
      color: #0A1317;
      text-decoration: none;
      line-height: 130%; }
    #header_wrapper #top_bar .col.col_right {
      justify-content: flex-end; }
      #header_wrapper #top_bar .col.col_right #lang_selector {
        display: block !important;
        color: #0A1317;
        text-decoration: none;
        text-align: right;
        align-items: center; }
        #header_wrapper #top_bar .col.col_right #lang_selector:hover .label_español {
          text-decoration: underline; }
        #header_wrapper #top_bar .col.col_right #lang_selector .icon {
          font-size: 28px;
          margin-left: 10px; }
          #header_wrapper #top_bar .col.col_right #lang_selector .icon:before {
            content: '\25be'; }
  #header_wrapper nav.nav #header {
    height: 90px;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background: #fff; }
    #header_wrapper nav.nav #header .container.nav_container {
      display: flex;
      height: 90px; }
      #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); }
        #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap.visible .menu_sidebar {
          left: 0; }
        #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar {
          background: #fff;
          position: absolute;
          left: -100%;
          width: 90%;
          max-width: 500px;
          min-width: 300px;
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          z-index: 100;
          transition: all .3s ease; }
          #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content {
            padding: 60px 0 40px;
            margin: 0 auto;
            position: relative;
            z-index: 100;
            max-width: 360px; }
            #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu {
              margin: 2em auto; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu li, #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul {
                list-style: none inside none; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu > li {
                color: #0A1317; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu li {
                margin-bottom: 5px; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu li a {
                text-transform: capitalize;
                position: relative;
                display: inline-block;
                color: #0A1317;
                padding: 5px 0;
                text-decoration: none;
                line-height: 150%;
                transition: all .3s ease;
                text-transform: unset; }
                #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu li a:hover:after {
                  background: #B9854D;
                  height: 2px;
                  bottom: 0; }
                #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu li a:after {
                  position: absolute;
                  bottom: 8px;
                  left: 0;
                  content: '';
                  width: 100%;
                  height: 1px;
                  display: block;
                  background: 0 0;
                  transition: all .3s ease; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu > li > a {
                font-size: 1.1em; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu ul.sub-menu {
                padding-left: 40px;
                margin-top: 10px;
                margin-bottom: 15px; }
                #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content #sidebar_menu ul.menu ul.sub-menu > li > a {
                  text-transform: unset;
                  font-family: "Mercury", sans-serif;
                  font-style: italic;
                  text-decoration: none; }
          #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .title {
            font-weight: 400;
            font-style: normal;
            font-family: "futura-pt", sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.05em; }
          #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .address {
            margin-top: 2em;
            padding-top: 2em;
            border-top: 1px solid #ece8de;
            color: #0A1317;
            font-size: .95em;
            line-height: 160%; }
            #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .address .element {
              display: block; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .address .element a {
                color: #0A1317;
                text-decoration: underline;
                transition: all .3s ease; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .address .element + .element {
                margin-top: 0.3em; }
              #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .address .element .element_pref {
                font-weight: 700; }
                #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .address .element .element_pref:after {
                  content: ': '; }
          #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .close_sidebar {
            display: block;
            top: 0;
            position: absolute;
            z-index: 500;
            right: 0;
            left: auto;
            background: #fff;
            cursor: pointer; }
            #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .close_sidebar:before, #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .close_sidebar::after {
              background: #0A1317; }
            #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .close_sidebar:hover:before, #header_wrapper nav.nav #header .container.nav_container #menu_sidebar_wrap .menu_sidebar .close_sidebar:hover:after {
              background: #fff; }
      #header_wrapper nav.nav #header .container.nav_container .col.col_left {
        width: calc(100% / 2 - 40px);
        display: flex;
        align-items: center;
        height: 90px; }
        #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left {
          flex-grow: 1; }
          #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul {
            list-style: none inside none; }
          #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            list-style: none inside none; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu:after {
              content: " ";
              display: table;
              clear: both; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu:before {
              content: " ";
              display: table; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu > li {
              width: 50%;
              height: 90px;
              display: block;
              text-align: center;
              padding: 0 5px;
              position: relative;
              float: left; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu > li .current-menu-item > a {
                border-color: #B9854D; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu > li:hover > ul.sub-menu {
                display: block; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu > li:hover > a {
                border-color: #0A1317; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu > li > a {
                display: block;
                height: 90px;
                line-height: 150%;
                text-align: center;
                width: 100%;
                color: #0A1317;
                text-decoration: none;
                border-bottom: 5px solid transparent;
                transition: border .3s ease;
                display: flex;
                align-items: center;
                justify-content: center; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu ul.sub-menu {
              display: none;
              background: #fff;
              padding: 1em;
              min-width: 250px;
              left: 50%;
              position: absolute;
              top: 100%;
              margin-left: -125px;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
              #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu ul.sub-menu > li {
                width: 90%;
                margin: 0 auto; }
                #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu ul.sub-menu > li:not(:first-child) {
                  border-top: 1px solid #ece8de; }
                #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu ul.sub-menu > li > a {
                  color: #0A1317;
                  font-family: "Mercury", sans-serif;
                  font-style: italic;
                  text-decoration: none;
                  line-height: 150%;
                  position: relative;
                  display: block;
                  text-align: left;
                  padding: .8em 0;
                  transition: all .3s ease; }
                  #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu ul.sub-menu > li > a:hover:after {
                    background: #B9854D;
                    height: 2px;
                    bottom: 0; }
                  #header_wrapper nav.nav #header .container.nav_container .col.col_left .menu_left ul.menu ul.sub-menu > li > a:after {
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    display: block;
                    background: 0 0;
                    transition: all .3s ease; }
      #header_wrapper nav.nav #header .container.nav_container #logo {
        width: 80px;
        height: 150px;
        line-height: 145px;
        text-align: center; }
        #header_wrapper nav.nav #header .container.nav_container #logo img {
          max-width: 100%;
          max-height: 100%;
          height: auto;
          width: auto; }
          #header_wrapper nav.nav #header .container.nav_container #logo img .main {
            display: inline; }
          #header_wrapper nav.nav #header .container.nav_container #logo img .custom {
            display: none;
            max-height: 75%; }
      #header_wrapper nav.nav #header .container.nav_container .col.col_right {
        width: calc(100% / 2 - 40px);
        display: flex;
        align-items: center;
        height: 90px; }
        #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right {
          flex-grow: 1; }
          #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul {
            list-style: none inside none; }
          #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            list-style: none inside none; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu:after {
              content: " ";
              display: table;
              clear: both; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu:before {
              content: " ";
              display: table; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu > li {
              width: 50%;
              height: 90px;
              display: block;
              text-align: center;
              padding: 0 5px;
              position: relative;
              float: left; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu > li .current-menu-item > a {
                border-color: #B9854D; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu > li:hover > ul.sub-menu {
                display: block; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu > li:hover > a {
                border-color: #0A1317; }
              #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu > li > a {
                display: block;
                height: 90px;
                line-height: 150%;
                text-align: center;
                width: 100%;
                color: #0A1317;
                text-decoration: none;
                border-bottom: 5px solid transparent;
                transition: border .3s ease;
                display: flex;
                align-items: center;
                justify-content: center; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu ul.sub-menu {
              display: none;
              background: #fff;
              padding: 1em;
              min-width: 250px;
              left: 50%;
              position: absolute;
              top: 100%;
              margin-left: -125px;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
              #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu ul.sub-menu > li {
                width: 90%;
                margin: 0 auto; }
                #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu ul.sub-menu > li:not(:first-child) {
                  border-top: 1px solid #ece8de; }
                #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu ul.sub-menu > li > a {
                  color: #0A1317;
                  font-family: "Mercury", sans-serif;
                  font-style: italic;
                  text-decoration: none;
                  line-height: 150%;
                  position: relative;
                  display: block;
                  text-align: left;
                  padding: .8em 0;
                  transition: all .3s ease; }
                  #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu ul.sub-menu > li > a:hover:after {
                    background: #B9854D;
                    height: 2px;
                    bottom: 0; }
                  #header_wrapper nav.nav #header .container.nav_container .col.col_right .menu_right ul.menu ul.sub-menu > li > a:after {
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    display: block;
                    background: 0 0;
                    transition: all .3s ease; }
        #header_wrapper nav.nav #header .container.nav_container .col.col_right #main_book {
          display: inline-block;
          height: 50px;
          overflow: hidden;
          text-align: center;
          width: 160px;
          overflow: hidden;
          flex-shrink: 0;
          transition: all .3s ease; }
          #header_wrapper nav.nav #header .container.nav_container .col.col_right #main_book a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.5em;
            height: 100%;
            font-family: "futura-pt", sans-serif;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 1;
            overflow: hidden;
            position: relative;
            line-height: 120%;
            border-width: 1px;
            border-style: solid;
            min-width: 160px;
            letter-spacing: 0.05em;
            transition: all .3s ease;
            color: #0A1317;
            border-color: #0A1317;
            border-width: 1px 5px;
            border-style: solid;
            border-color: transparent;
            background-color: #B9854D;
            color: #000;
            width: 160px; }
            #header_wrapper nav.nav #header .container.nav_container .col.col_right #main_book a:hover {
              background: 0 0;
              border-color: #0A1317;
              color: #0A1317; }
      #header_wrapper nav.nav #header .container.nav_container #hotel_name_mobile {
        margin-left: 20px;
        text-align: left;
        font-size: 16px;
        font-family: "futura-pt", sans-serif;
        text-transform: uppercase;
        color: #0A1317;
        text-decoration: none;
        line-height: 130%;
        height: 70px;
        display: flex;
        align-items: center; }

.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: 0 0;
  z-index: 500;
  overflow: hidden;
  display: block;
  background: #0A1317;
  transition: all .3s ease; }
  .close:before {
    top: 25%;
    transform: rotate(45deg); }
  .close:after {
    bottom: 25%;
    top: auto;
    transform: rotate(-45deg); }
  .close:after, .close:before {
    width: 65%;
    height: 1px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    left: 25%;
    transform-origin: 0 0; }

#open_menu {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  transition: border .3s ease;
  display: none; }
  #open_menu .icon {
    margin: 14px auto;
    width: 30px;
    height: 22px;
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: #0A1317;
    position: relative; }

nav > div > div > label > a > i:hover {
  border: 1px solid #000;
  transition: border .3s ease; }

#menu_hamb {
  display: none; }

.nav_input:checked + #menu_sidebar_wrap {
  clip-path: circle(100% at center);
  display: block !important; }

.label_menu_open:hover {
  cursor: pointer; }

.close_sidebar:checked + #menu_sidebar_wrap {
  display: none; }

.nav_input, .nav_i, .close_sidebar {
  cursor: pointer; }

.nav_input_close {
  display: none; }

@media only screen and (max-width: 600px) {
  #open-menu {
    display: block;
    font-size: 2em;
    cursor: pointer; } }

@media (max-width: 991px) and (min-width: 768px) {
  .hidden-sm {
    display: none !important; } }

@media (max-width: 2600px) and (min-width: 992px) {
  .hidden-md {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; }
  #skip_to_content {
    display: block !important; }
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .menu_sidebar_inner_content {
    padding: 40px 30px; }
  #sidebar_menu ul.menu ul.sub-menu {
    padding-left: 20px; }
  #menu_sidebar_wrap .menu_sidebar .menu_sidebar_inner_content {
    padding: 40px 30px; }
  #sidebar_menu ul.menu ul.sub-menu {
    padding-left: 20px; }
  #menu_sidebar_wrap .menu_sidebar {
    width: 95%; } }

@media (max-width: 767px) and (max-width: 991px) {
  #header .col {
    margin-right: 10px;
    margin-left: -10px; } }

@media (min-width: 1200px) {
  #header .menu_left ul.menu > li {
    padding-right: 10px;
    padding-left: 10px; }
  #header .menu_right ul.menu > li {
    padding-right: 10px;
    padding-left: 10px; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .container {
    max-width: 980px; }
  .hidden-md {
    display: none !important; } }

@media (max-width: 991px) {
  #header_wrapper {
    height: 120px;
    font-size: .9em; }
  #top_bar {
    height: 50px; }
  #top_bar .col.col_right {
    flex-grow: 1; }
  #header {
    height: 70px;
    top: 50px; }
    #header .container {
      height: 70px; }
    #header .col {
      height: 70px;
      margin-right: 20px;
      width: auto; }
  #logo {
    width: 50px;
    height: 90px;
    line-height: unset;
    flex-shrink: 0; }
  #menu_sidebar_wrap .menu_sidebar .title {
    font-size: 18px;
    line-height: 130%; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

footer #loyalty {
  margin-top: 60px;
  background: #595959;
  color: #fff;
  padding: 70px 0;
  text-align: center;
  align-items: center; }
  footer #loyalty .logo {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 50px; }
    footer #loyalty .logo img {
      width: auto; }
  footer #loyalty .content {
    flex-grow: 1;
    flex-shrink: 1; }
    footer #loyalty .content .title {
      font-weight: 600;
      font-style: normal;
      font-family: "futura-pt", sans-serif;
      line-height: 120%;
      position: relative;
      letter-spacing: .05em;
      color: #fff;
      font-size: 32px; }
    footer #loyalty .content .description {
      font-size: 1.1em;
      margin-top: 0.5em;
      line-height: 140%;
      letter-spacing: 0.05em; }
  footer #loyalty .title {
    font-weight: 600;
    font-style: normal;
    font-family: "futura-pt", sans-serif;
    line-height: 120%;
    position: relative;
    letter-spacing: .05em;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px; }
    footer #loyalty .title strong {
      font-weight: inherit; }
    footer #loyalty .title strong {
      color: #B9854D; }
  footer #loyalty .social a {
    display: inline-block;
    margin: 5px; }
    footer #loyalty .social a span[class^=fa] {
      border-radius: 100%;
      background: #0A1317;
      color: #fff;
      font-size: 20px;
      display: inline-block;
      text-align: center;
      width: 42px;
      height: 42px;
      line-height: 42px;
      transition: all .3s ease;
      border: 1px solid #fff;
      border-radius: 100%; }
      footer #loyalty .social a span[class^=fa]:hover, footer #loyalty .social a span[class^=fa]:focus {
        color: #fff;
        border-color: transparent; }
        footer #loyalty .social a span[class^=fa]:hover .fa-facebook-f, footer #loyalty .social a span[class^=fa]:focus .fa-facebook-f {
          background: #0d65d3; }
        footer #loyalty .social a span[class^=fa]:hover .fa-instagram, footer #loyalty .social a span[class^=fa]:focus .fa-instagram {
          background: #f09433;
          background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }
        footer #loyalty .social a span[class^=fa]:hover .fa-whatsapp, footer #loyalty .social a span[class^=fa]:focus .fa-whatsapp {
          background: #47a91f; }
  footer #loyalty .btn {
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    height: 50px;
    text-align: center;
    min-width: 200px; }

#mobile_bar {
  height: 60px;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff; }
  #mobile_bar #mobile_book_now {
    display: inline-block;
    height: 50px;
    text-align: center;
    width: 100%;
    height: 60px; }
    #mobile_bar #mobile_book_now a {
      border-width: 1px 5px;
      border-style: solid;
      border-color: transparent;
      background-color: #B9854D;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.5em;
      height: 100%;
      font-family: "futura-pt", sans-serif;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      z-index: 1;
      position: relative;
      line-height: 120%;
      border-width: 1px;
      border-style: solid;
      min-width: 160px;
      letter-spacing: 0.05em;
      transition: all .3s ease;
      color: #0A1317;
      border-color: #0A1317; }
      #mobile_bar #mobile_book_now a:hover {
        background: 0 0;
        border-color: #0A1317;
        color: #0A1317; }

@media (max-width: 991px) {
  #loyalty {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; }
    #loyalty .logo {
      margin: 0 auto 20px; }
      #loyalty .logo img {
        height: 100px; }
    #loyalty .btn {
      margin-top: 20px; } }

.mail {
  color: #0A1317;
  text-decoration: underline;
  transition: all .3s ease; }

/* VIEWS */
.fotito {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.main_contnet {
  margin-top: 40px;
  padding-top: 0; }
  .main_contnet .aside_content {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px; }
    .main_contnet .aside_content .container {
      max-width: 100%;
      display: flex; }
      .main_contnet .aside_content .container .aside {
        width: 45%;
        background: #F8F8F8;
        position: relative;
        margin-bottom: 40px;
        min-height: 450px; }
        .main_contnet .aside_content .container .aside .thumb {
          height: auto;
          width: auto;
          right: 0;
          left: 40px;
          bottom: 0;
          top: 40px;
          position: absolute;
          display: block;
          text-decoration: none;
          background-attachment: scroll;
          background-size: cover;
          background-color: #F8F8F8;
          background-repeat: no-repeat;
          background-position: center; }
      .main_contnet .aside_content .container .content_wrap {
        background: #F8F8F8;
        width: 55%;
        padding: 40px;
        display: flex;
        align-items: center; }
  .main_contnet .section {
    position: relative;
    z-index: 100;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto; }
    .main_contnet .section + .section {
      padding-top: 80px; }

.section.main_content .custom_logo {
  margin: 0 auto 2em;
  text-align: center; }
  .section.main_content .custom_logo img {
    max-width: 180px;
    max-height: 180px;
    height: auto;
    width: auto; }

.section_title, .the_title {
  font-weight: 600;
  font-style: normal;
  font-family: "futura-pt", sans-serif;
  line-height: 120%;
  position: relative;
  letter-spacing: .05em;
  color: #000;
  font-size: 38px;
  text-align: center;
  margin-bottom: .5em; }

.the_content blockquote {
  border-color: #F8F8F8;
  font-family: "Mercury", sans-serif;
  line-height: 160%;
  color: #000;
  font-style: italic;
  font-size: 1.1em;
  display: flex; }
  .the_content blockquote:before {
    content: '\201C';
    padding-right: 5px;
    font-size: 1.3em; }
  .the_content blockquote:after {
    content: '\201D';
    padding-left: 5px;
    align-self: flex-end;
    font-size: 1.3em; }
  .the_content blockquote + p {
    margin-top: 1em; }

.the_content strong {
  color: #0A1317;
  font-weight: 700;
  letter-spacing: 0; }

.the_subtitle {
  font-style: normal;
  font-weight: 400;
  font-family: "futura-pt", sans-serif;
  line-height: 150%;
  position: relative;
  color: #000;
  font-size: 22px;
  text-align: center;
  margin-bottom: 1.5em; }

.btnbtnbtn {
  font-size: 1em;
  background: none;
  color: #181818;
  padding: 10px 20px;
  border: 1px solid #B9854D;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer; }

.btnbtnbtn:hover {
  background-color: #B9854D;
  color: #fff; }

@media (min-width: 992px) {
  .description, .the_content {
    font-size: 1.08em; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .main_content.aside_content .container .content_wrap .inner_wrap .the_title {
    font-size: 28px; } }

@media (max-width: 767px) {
  .main_content.aside_content {
    width: calc(100% - 10px);
    margin-top: 5px;
    padding-top: 0; }
  .main_content.aside_content .container {
    padding-left: 0;
    padding-right: 0; }
  .main_content.aside_content .container .aside .thumb {
    margin-bottom: 0; }
  .main_content.aside_content .container .content_wrap {
    padding: 20px; }
  .section.main_content .custom_logo img {
    max-height: 100px; }
  .section_title, .the_title {
    font-size: 28px; } }

.main_content.aside_content .container .aside .thumb {
  margin-bottom: 0; }

.main_content.aside_content .container .aside {
  padding: 0; }

@media (max-width: 991px) {
  .main_content.aside_content .container {
    flex-direction: column-reverse; }
  .main_content.aside_content .container .aside {
    width: 100%;
    padding: 0 40px;
    min-height: unset;
    margin-bottom: 0; }
  .main_content.aside_content .container .content_wrap {
    width: 100%; }
  .main_content.aside_content .container .aside .thumb {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 60%;
    top: auto;
    left: auto;
    bottom: auto;
    margin-bottom: 40px; } }

@media (min-width: 768px) {
  #breadcrumb + .main_content {
    padding-top: 0; } }

@media (max-width: 991px) {
  .fixed #header {
    position: fixed !important;
    top: 0 !important;
    box-shadow: 0 0 5px black; }
  .fixed #logo {
    height: 70px;
    line-height: 70px; }
  #header_wrapper {
    height: auto !important; } }

#mini_menu {
  color: #333;
  margin: 1em auto 1.5em;
  position: relative;
  text-align: left;
  font-size: .9em;
  z-index: 100; }
  #mini_menu ul {
    display: flex;
    list-style: none inside none; }
    #mini_menu ul li {
      display: inline-block;
      display: flex;
      line-height: 150%; }
      #mini_menu ul li a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        transition: all 0.3s ease; }
    #mini_menu ul li:before {
      content: '-';
      display: inline-block !important;
      margin: 0 0.7em;
      opacity: .5;
      filter: Alpha(opacity=50); }
  #mini_menu ul, #mini_menu li {
    list-style: none inside none; }

.mini_menu_secciones {
  color: #0A1317;
  text-transform: uppercase; }

.the_title {
  cursor: pointer;
  font-weight: 600;
  font-style: normal;
  font-family: "futura-pt", sans-serif;
  line-height: 120%;
  position: relative;
  letter-spacing: 0.05em;
  color: #000;
  font-size: 32px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 0.5em;
  display: block; }
  .the_title:hover {
    text-decoration: underline;
    color: #B9854D; }

.fotito {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.home .main_content {
  margin-top: 40px;
  padding-top: 0; }
  .home .main_content .section + .section {
    padding-top: 80px; }
  .home .main_content.aside_content {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px; }
  .home .main_content .the_title {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }

.section {
  position: relative;
  z-index: 100;
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto; }

.main_content.aside_content .container {
  max-width: 100%;
  display: flex; }
  .main_content.aside_content .container .aside {
    width: 45%;
    background: #F8F8F8;
    position: relative;
    margin-bottom: 40px;
    min-height: 450px; }
    .main_content.aside_content .container .aside .thumb {
      height: auto;
      width: auto;
      right: 0;
      left: 40px;
      bottom: 0;
      top: 40px;
      position: absolute;
      display: block;
      text-decoration: none;
      background-attachment: scroll;
      background-size: cover;
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center; }
  .main_content.aside_content .container .content_wrap {
    background: #F8F8F8;
    width: 55%;
    padding: 40px;
    display: flex;
    align-items: center; }

.main_content.aside_content .container .aside {
  width: 100%;
  padding: 0 40px;
  min-height: unset;
  margin-bottom: 0; }

.main_content.aside_content .container .content_wrap {
  width: 100%; }

.section_title, .the_title {
  font-weight: 600;
  font-style: normal;
  font-family: "futura-pt", sans-serif;
  line-height: 120%;
  position: relative;
  letter-spacing: .05em;
  color: #000;
  font-size: 38px;
  text-align: center;
  margin-bottom: .5em; }

.the_content blockquote {
  font-family: "Mercury", sans-serif;
  line-height: 160%;
  color: #000;
  font-style: italic;
  font-size: 1.1em;
  display: flex;
  border-color: #F8F8F8; }
  .the_content blockquote + p {
    margin-top: 1em; }
  .the_content blockquote p + p {
    margin-top: 1em; }
  .the_content blockquote:before {
    content: '\201C';
    padding-right: 5px;
    font-size: 1.3em; }
  .the_content blockquote:after {
    content: '\201D';
    padding-left: 5px;
    align-self: flex-end;
    font-size: 1.3em; }

.the_content strong {
  color: #0A1317;
  font-weight: 700;
  letter-spacing: 0; }

.the_subtitle {
  font-style: normal;
  font-weight: 400;
  font-family: "futura-pt", sans-serif;
  line-height: 150%;
  position: relative;
  color: #000;
  font-size: 22px;
  text-align: center;
  margin-bottom: 1.5em; }

.main_content, .section + .section {
  padding-top: 80px; }

.section {
  position: relative;
  z-index: 100;
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto; }
  .section.main_content .custom_logo {
    margin: 0 auto 2em;
    text-align: center; }
    .section.main_content .custom_logo img {
      max-width: 180px;
      max-height: 180px;
      height: auto;
      width: auto; }

.filters_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 40px; }
  .filters_wrap .label {
    display: inline-block;
    margin-right: 40px; }
  .filters_wrap .filters_select {
    height: 50px;
    min-width: 300px;
    position: relative; }
    .filters_wrap .filters_select select {
      appearance: none;
      border: none;
      border-radius: 0;
      flex-grow: 1;
      background: 0 0;
      color: #333;
      font-family: "futura-pt", sans-serif;
      font-size: inherit;
      position: relative;
      z-index: 100;
      line-height: 50px;
      width: 100%;
      border: 1px solid #ece8de;
      padding: 0 20px; }
      .filters_wrap .filters_select select option {
        background: #fff; }
      .filters_wrap .filters_select select:after {
        top: 0;
        right: 15px;
        content: '\025BE';
        position: absolute;
        z-index: 1;
        line-height: 50px;
        color: #333; }

@media (min-width: 1400px) {
  #mini_menu {
    padding: 0;
    margin-bottom: 2.5em; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .main_content.aside_content .container .content_wrap .inner_wrap .the_title {
    font-size: 28px; } }

@media (min-width: 992px) {
  .description, .the_content {
    font-size: 1.08em; } }

@media (max-width: 991px) {
  .main_content.aside_content .container {
    flex-direction: column-reverse; }
  .thumb {
    width: 100% !important;
    position: relative !important;
    height: 0 !important;
    padding-bottom: 60% !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    margin-bottom: 40px !important; } }

@media (min-width: 768px) {
  .main_content.section + .section.filters_wrap {
    margin-top: -40px; } }

@media (min-width: 1200px) {
  .filters_wrap {
    max-width: 1160px; }
  .section {
    width: calc(100% - 80px); }
  .section_title, .the_title {
    font-size: 42px; }
  #mini_menu {
    padding: 0 30px;
    margin-bottom: 2em; } }

@media (max-width: 991px) and (min-width: 768px) {
  .thumb_wrap {
    width: 50%; }
  .filters_wrap {
    max-width: 740px; }
  .elements_wrapper {
    max-width: 740px; } }

@media (max-width: 767px) {
  .filters_wrap {
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px; }
    .filters_wrap .label {
      width: 100%;
      margin-bottom: .5em;
      margin-right: 0; }
    .filters_wrap .filters_select {
      width: 100%; }
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .section_title, .the_title {
    font-size: 28px; }
  .main_content, .section + .section {
    padding-top: 40px; }
  .thumb_wrap {
    width: 100%; }
  .elements_wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .main_content.aside_content {
    width: calc(100% - 10px);
    margin-top: 5px;
    padding-top: 0; }
  .main_content.aside_content .container {
    padding-left: 0;
    padding-right: 0; }
  .main_content.aside_content .container .aside .thumb {
    margin-bottom: 0; }
  .main_content.aside_content .container .content_wrap {
    padding: 20px; }
  .section.main_content .custom_logo img {
    max-height: 100px; }
  .section_title, .the_title {
    font-size: 28px; }
  .main_content.aside_content .container .aside .thumb {
    margin-bottom: 0; }
  .main_content.aside_content .container .aside {
    padding: 0; } }

/*Secciones*/
.main_content, .section + .section {
  padding-top: 80px; }

.section {
  position: relative;
  z-index: 100;
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto; }

.section.room_features .features_services {
  background: rgba(245, 243, 238, 0.5);
  padding: 60px 40px; }
  .section.room_features .features_services .features {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto; }
    .section.room_features .features_services .features .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .section.room_features .features_services .features .list .item {
        width: 25%;
        padding: 0 10px;
        margin: 20px 0;
        text-align: center;
        line-height: 170%;
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: #e2dcce; }
        .section.room_features .features_services .features .list .item img {
          font-size: 42px;
          color: #666;
          margin-bottom: 10px; }
        .section.room_features .features_services .features .list .item .el_title {
          font-weight: bold;
          color: #000;
          margin-bottom: 5px; }
  .section.room_features .features_services .services {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto; }
    .section.room_features .features_services .services .the_title {
      margin-bottom: 1.5em; }
    .section.room_features .features_services .services .list {
      line-height: 170%; }
      .section.room_features .features_services .services .list li, .section.room_features .features_services .services .list ul {
        list-style: none inside none; }
      .section.room_features .features_services .services .list ul li {
        margin: 10px 0;
        position: relative;
        padding-left: 20px; }
        .section.room_features .features_services .services .list ul li:before {
          content: "-";
          position: absolute;
          left: 0; }
      .section.room_features .features_services .services .list.col_two {
        column-count: 2;
        column-gap: 60px;
        column-rule: 1px solid #e2dcce; }
      .section.room_features .features_services .services .list.col_three {
        column-gap: 60px;
        column-rule: 1px solid #e2dcce; }
  .section.room_features .features_services .features + .services {
    margin-top: 40px; }
  .section.room_features .features_services .the_title {
    font-weight: 600;
    font-style: normal;
    font-family: "futura-pt", sans-serif;
    line-height: 120%;
    position: relative;
    letter-spacing: .05em;
    color: #000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1em; }

@media (min-width: 768px) and (max-width: 991px) {
  .section_title, .the_title {
    font-size: 32px; }
  .container {
    max-width: 740px; } }

@media (min-width: 768px) {
  .section.room_features .features_services .features .list .item:nth-child(4n+1) {
    border: none; } }

@media (max-width: 767px) {
  .section.room_features .features_services .features .list .item:first-child {
    border-top: none; } }

@media (max-width: 767px) {
  .section.room_features .features_services .features .list .item {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: left;
    border-width: 1px 0 0; } }

@media (max-width: 767px) {
  .section.room_features .features_services .features .list {
    flex-direction: column; }
  .section.room_features .features_services .features .list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; } }

@media (max-width: 767px) {
  .section.room_features .features_services {
    padding: 40px 20px; } }

@media (max-width: 767px) {
  .section.room_features .features_services .the_title {
    font-size: 24px; } }

@media (max-width: 767px) {
  .section.room_features .features_services .features .list .item img {
    margin-bottom: 0;
    margin-right: 20px; } }

@media (max-width: 767px) {
  .section.room_features .features_services .services .the_title {
    margin-bottom: 1em; } }

@media (max-width: 767px) {
  .section.room_features .features_services .services .list.col_two {
    column-count: 1; } }

/*Secciones*/
.section {
  position: relative;
  z-index: 100;
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto; }

.section.main_content .custom_logo {
  margin: 0 auto 2em;
  text-align: center; }
  .section.main_content .custom_logo img {
    max-width: 180px;
    max-height: 180px;
    height: auto;
    width: auto; }

.main_content .the_title {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.the_title {
  font-weight: 600;
  font-style: normal;
  font-family: "futura-pt", sans-serif;
  line-height: 120%;
  position: relative;
  letter-spacing: .05em;
  color: #000;
  font-size: 38px;
  text-align: center;
  margin-bottom: 0.5em; }

.section.info_section {
  padding-top: 40px; }

.section + .section {
  padding-top: 80px; }

.section.main_content + .section.info_section {
  border-top: 1px solid #ece8de; }

.section.info_section .container {
  display: flex; }

.section.info_section .col:first-child {
  padding-left: 0; }

.section.info_section .col {
  flex-grow: 1;
  width: 50%;
  padding: 0 20px; }

.section.info_section .col .title {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 600;
  color: #333; }

.description strong {
  color: #0A1317;
  font-weight: 700;
  letter-spacing: 0; }

.section.info_section .col:last-child {
  padding-right: 0; }

@media (max-width: 991px) {
  .section.info_section .col .title {
    font-size: 1.3em; } }

@media (min-width: 768px) and (max-width: 991px) {
  .section.main_content + .section.info_section {
    margin-top: 80px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .section_title, .the_title {
    font-size: 32px; } }

@media (max-width: 991px) {
  .main_content.aside_content .container .content_wrap {
    width: 100%; } }

@media (min-width: 768px) {
  #breadcrumb + .main_content {
    padding-top: 0; } }

@media (max-width: 991px) {
  .main_content.aside_content .container {
    flex-direction: column-reverse; } }

@media (max-width: 991px) {
  .main_content.aside_content .container .aside {
    width: 100%;
    padding: 0 40px;
    min-height: unset;
    margin-bottom: 0; } }

@media (max-width: 991px) {
  .main_content.aside_content .container .aside .thumb {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 60%;
    top: auto;
    left: auto;
    bottom: auto;
    margin-bottom: 40px; } }

.grid-container-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 50px; }

.grid-foto {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px white; }
  .grid-foto a {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
  .grid-foto:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

.cat_label {
  font-size: .9em;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-transform: capitalize; }

@media (min-width: 992px) {
  .section.room_features .features_services .services .list.col_three {
    column-count: 3; } }

@media (min-width: 768px) and (max-width: 991px) {
  .section.room_features .features_services .services .list.col_three {
    column-count: 2; } }
