.fotito{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@mixin basic{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.container {
    @include basic;
}
@mixin basicwh{
    height: auto;
    width: auto;
}
@mixin marginbasic{
    margin-left: auto;
    margin-right: auto;
}

$estilosmenu: (
 width:calc(100% / 2 - 40px),
 display: flex,
 alignitems: center,
 height: 90px
);
