

$font_size:17px;
$first_font:"futura-pt",sans-serif;
$second_font:'Mercury',sans-serif;
$letter-spacing:0.05em;
$body_background:#fff;
$body_background_darken_3:#f7f7f7;
$font_color:#333;
$alternative_background:#F8F8F8;
$highlight_color:#B9854D;
$highlight_color_associate:#000;
$main_color:#0A1317;
$main_color_associate:#fff;
$hover_color:$highlight_color;
$hover_color_associate:$highlight_color_associate;
$title_color:#000;
$dark_section_bg:$main_color;
$dark_section_color:$main_color_associate;
$dark_section_highlight_color:$highlight_color;
$content_strong:$main_color;
$content_hr:#ece8de;
$content_blockquote_bolor:#000;
$content_blockquote_dl_border:$alternative_background;
$mark_bg:$highlight_color;
$mark_bolor:$highlight_color_associate;
$overlay-bg:rgba(0, 0, 0, 0.7);
$header_bg:#fff;
$header_color:$main_color;
$header_border:$content_hr;
$footer_bg:$header_bg;
$foter_color:$header_color;
$footer_brand_bg:$main_color;
$footer_brand_color:$main_color_associate;
$loyalty_bg: #595959;
$loyalty_color: #fff;
