<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palladio Hotel Buenos Aires MGallery | Terraza</title>
    <meta name="description" content="Disfrute de una estadía memorable en Palladio Hotel. Ubicado en el tradicional Barrio de Recoleta, cerca de las principales atracciones turísticas, es el lugar perfecto para viajes de trabajo o placer.">
    <meta name="keywords" content="hotel en Buenos Aires, Hoteles Argentina, Hotel Argentina, hotel Recoleta, Mgallery, accor, hotel, recoleta, Palladio Hotel,  Palladio, Negresco Bar,  Negresco,  Negresco Bistro, habitaciones y suites, gastronomia, reuniones">
    <link rel="shortcut icon" href="../../img/logo_pestaña.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
</head>
<body class="home page ">
    
    <div id="header_wrapper" class="hidden_book_now">
        <div id="top_bar">
            <div class="col col_left">
                <a id="skip_to_content" class="hidden-xs" href="#saltar-al-contenido">
                    <span class="icon"></span>
                    <span class="label">Saltar al contenido</span>
                </a>
            </div>
            <a id="hotel_name" class=" hidden-xs hidden-sm" href="../../../index.html">  
                <span>Palladio Hotel Buenos Aires MGallery</span>
            </a>
            <div class="col col_right">
                <a id="lang_selector" href="">
                    <span class="label">Español</span>
                    <span class="icon"></span>
                </a>
            </div>
        </div>
        <nav class="nav">
                <div id="header">
                    <div class="container nav_container">
                        <label for="menu_hamb" class="lavel_menu_open">
                            <i class="fa-solid fa-bars icon  nav_i" style="padding: 30px; color: #000; "></i>
                        </label>
                        <input type="checkbox" id="menu_hamb" class="nav_input">
                        <div id="menu_sidebar_wrap" class="visible" >
                            <div class="menu_sidebar">
                                <label for="close_menu" >
                                </label>
                                <input type="checkbox" id="close_menu" class="nav_input_close">
                                <a href="" class="close_sidebar close" title="Close main menu"></a>
                                <div class="menu_sidebar_inner_content">
                                    <div class="title">Palladio Hotel Buenos Aires MGallery</div>
                                    <div id="sidebar_menu">
                                        <ul id="menu-hamburger-menu-2" class="menu">
                                            <li class="menu-item current-menu-item">
                                                <a href="../../../index.html" aria-current="page">Inicio</a>
                                            </li>
                                            <li class="menu-item current-menu-item">
                                                <a href="../habitaciones.html">Habitaciones</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/habitacion-superior-con-cama-king-size.html">Habitación Superior con cama king size</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/habitacion-deluxe-con-cama-king-size-y-balcon-privado.html">Habitación Deluxe con cama king size y balcón privado</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/executive-room-con-cama-king-size-balcon-privado-y-sofa-cama.html">Executive Room con cama king size, balcón privado y sofá cama</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/executive-room-con-2-camas-queen-size-y-balcon-privado.html">Executive Room con 2 camas queen size y balcón privado</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/deluxe-suite-con-cama-king-size-balcon-privado-y-sofa-cama.html">Deluxe Suite con cama king size, balcón privado y sofá cama</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/deluxe-suite-con-2-camas-queen-size-y-balcon-privado.html">Deluxe Suite con 2 camas queen size y balcón privado</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../habitaciones/executive-suite-con-cama-king-size-y-exclusiva-vista-de-la-ciudad.html">Executive Suite con cama king size y exclusiva vista de la ciudad</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item current-menu-item">
                                                <a href="../gastronomia.html">Gastronomía</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./negresco_bistro.html">Negresco Bistró</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./negresco_bar.html">Negresco Bar</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="./terraza.html">La Terraza</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item current-menu-item">
                                                <a href="../galeria.html">Galería de fotos</a>
                                            </li> 
                                            <li class="menu-item current-menu-item">
                                                <a href="../reuniones.html">Reuniones</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../reuniones/rodriguez_peña.html">Rodríguez Peña</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../reuniones/pizzurno.html">Pizzurno</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../reuniones/boardroom_1.html">Boardroom 1</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="../reuniones/boardroom_2.html">Boardroom 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>    
                                    </div>
                                    <div class="address">
                                        <span class="element element_address">
                                            <span class="element_data">Avenida Callao 924
                                                Recoleta - C1023AAP
                                                Buenos Aires
                                                Argentina
                                            </span>
                                        </span>
                                        <span class="element element_telephone">
                                            <span class="element_pref">Teléfono</span>
                                            <span class="element_data">+54 11 4700 7500</span>
                                        </span>
                                        <span class="element element_email">
                                            <span class="element_pref">Email</span>
                                            <span class="element_data">
                                                <a href="mailto:recepcion.palladio@accor.com">recepcion.palladio@accor.com</a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col col_left nav_menu">
                                <div class="menu_left hidden-xs hidden-sm">
                                    <ul class="menu">
                                        <li  class="menu-item ">
                                            <a href="../habitaciones.html" class="nav_item">Habitaciones</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item ">
                                                    <a href="../habitaciones/habitacion-superior-con-cama-king-size.html">Habitación Superior con cama King size</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="../habitaciones/habitacion-deluxe-con-cama-king-size-y-balcon-privado.html">Habitación Deluxe con cama king size y balcón privado</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="../habitaciones/executive-room-con-cama-king-size-balcon-privado-y-sofa-cama.html">Executive Room con cama king size, balcón privado y sofá cama</a>
                                                </li>
                                                <li class="menu-item   ">
                                                    <a href="../habitaciones/executive-room-con-2-camas-queen-size-y-balcon-privado.html">Executive Room con 2 camas queen size y balcón privado</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="../habitaciones/deluxe-suite-con-cama-king-size-balcon-privado-y-sofa-cama.html">Deluxe Suite con cama king size, balcón privado y sofá cama</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="../habitaciones/deluxe-suite-con-2-camas-queen-size-y-balcon-privado.html">Deluxe Suite con 2 camas queen size y balcón privado</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="../habitaciones/executive-suite-con-cama-king-size-y-exclusiva-vista-de-la-ciudad.html">Executive Suite con cama king size y exclusiva vista de la ciudad</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item ">
                                            <a href="../gastronomia.html" class="nav_item">Gastronomía</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item ">
                                                    <a href="negresco_bistro.html">Negresco Bistró</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="negresco_bar.html">Negresco Bar</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="terraza.html">La Terrazza</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>                
                                </div>
                            </div>
                            <a id="logo" href="../../../index.html" title="Volver a la página de inicio">
                                <img src="../img/Logo MGallery Hotel Collection.svg" alt="Alternative MGallery logo" class="main">
                                <img src="https://mgallerypalladiohotel.accorv2prod.decms.eu/wp-content/themes/accorv2-mgallery/images/logo_white.svg" alt="Alternative MGallery logo" class="custom">
                            </a>
                            <div class="col col_right hidden-xs hidden-sm nav_menu ">
                                <div class="menu_right">
                                    <ul id="menu-hamburger-menu-1" class="menu">
                                        <li class="menu-item ">
                                            <a href="../galeria.html" class="nav_item">Galería</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="../reuniones.html" class="nav_item">Reuniones</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="../reuniones/rodriguez_peña.html">Rodríguez Peña</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="../reuniones/pizzurno.html">Pizzurno</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="../reuniones/boardroom_1.html">Boardroom 1</a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="../reuniones/boardroom_2.html">Boardroom 2</a>
                                                </li>
                                            </ul>
                                        </li>                            
                                    </ul>                
                                </div>
                                <div id="main_book" >
                                    <a href="https://all.accor.com/hotel/B1R7/index.es.shtml"   title="Reservar una habitación" class="nav_item">Reservar ahora</a>
                                </div>
                            </div>
                            <a id="hotel_name_mobile" class="hidden-md hidden-lg" href="../../../index.html" title="Volver a la página de inicio"><span>Palladio Hotel Buenos Aires MGallery</span></a>
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>

    
    <main id="saltar-al-contenido">
        <div>
            <aside><img src="../../img/Gastronomia/La Terrazza/Terrazza.jpg" alt=""></aside>
            <div>
                <div>
                    <h1>La Terraza</h1>
                    <div>
                        <p>Descubra en La Terraza un espacio exclusivo para relajarse y admirar inolvidables atardeceres desde el piso 11 del hotel. Acompañado de novedosos cocktails o copa de champagne, y una tentadora propuesta gastronómica de snacks.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div>
            <div>
                <div>
                    Horario de Apertura
                </div>
                <div>
                    <p>Abierto todos los días de 10:00 a 23:00 hs.</p>
                </div>
            </div>
            <div>
                <div>Información Adicional</div>
                <div>
                    <p>
                        <strong>Capacidad:</strong>
                        40 personas
                    </p>
                    <p>No se permiten mascotas</p>
                    <p>
                        Llámenos para reservar su mesa +54 9 11 3596-8870
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->

    <footer>
        <div id="loyalty">
            <div class="container">
                
                <div class="content">
                    <div class="title">Palladio Hotel Buenos Aires - MGallery ☆☆☆☆☆</div>
                    <div class="description">
                        <h6>Av. Callao 924 - C1023AAP</h6>
                        <h6>C.A.B.A. - Buenos Aires - Argentina</h6>
                        <h6>Teléfono: +54 (11) 4700 7500</h6>
                        <h6>WhatsApp: <a class="mail" href="https://wa.me/5491169688405">+54 (911) 6968 8405</a> </h6>
                        <h6>Email: 
                            <a class="mail" href="mailto:reservas.palladio@accor.com">reservas.palladio@accor.com</a>
                        </h6>
                    </div>
                </div>
                <br>
                <div class="title">Siga nuestro hotel en:</div>
                <div class="social">
                    <a href="https://www.facebook.com/PalladioHotelBA/" title="Abrir el Facebook de este Hotel" class="facebook" target="_blank">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="https://www.instagram.com/palladiohotelba/" title="Abrir el Instagram de este hotel" class="instagram" target="_blank">
                        <span class="fab fa-instagram"></span>
                    </a>
                    <a href="https://wa.me/5491169688405" title="Abrir el Whatsapp de este  hotel" class="whatsapp" target="_blank">
                        <span class="fab fa-whatsapp"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    

    <div id="mobile_bar" class="hidden-md hidden-lg">
        <div id="mobile_book_now">
            <a href="https://all.accor.com/hotel/B1R7/index.es.shtml">Reservar ahora</a>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>